events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    
    server {
        listen 80;
        server_name $DOMAIN_NAME;

        location / {
            root /usr/share/nginx/html/pages;
            index index.html;
        }

        location /css/ {
            root /usr/share/nginx/html;
        }

        location /js/ {
            root /usr/share/nginx/html;
        }

        # Deny access to hidden files and directories
        location ~ /\. {
            deny all;
        }

        # Error pages
        error_page 404 /index.html;
        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /usr/share/nginx/html;
        }
    }
}
